.nav{
    background-color: pink;
    ul{
        li{
            &:hover{
                background-color: skyblue;
                a{
                    color: white;
                }
            }
        }
    }
}